<app-standard-header [title]="itemFunction?.title" [icon]="'arrow-back-outline'"
    [href]="'LateEarlyRequest'">
    <span id="HistoryAppoveLevel" slot="end" style="margin-right: 1rem;font-size: 1.6rem;color: #fff;" class="sap-icon sap-customer-history"></span>

</app-standard-header>
<ion-content>
  <timeline idOpen="HistoryAppoveLevel" [title]="'COMMON.HistoryApproveLevel' | translate"
              [templateLeft]="templateLeft" [templateRight]="templateRight"
              [ProcessID]="6" [RecordID]="RequestData['RecordID']"></timeline>
        <ion-item class="profile-title">
            <ion-label>{{'EXTRADAYOFF_REQUEST.Infomation' | translate}}</ion-label>
        </ion-item>
        <div class="ion-padding">
            <ion-list>
                <ion-item class="twoColumn">
                    <ng-container>
                        <ion-label class="list-left">{{'EXTRADAYOFF_REQUEST.Status' | translate}}</ion-label>
                        <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status == 1">
                            <div style="width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            display: inline-block;
                            background: #000;
                            background-color: #0088CF;
                            transform: translate(-8px, 2px)"></div>
                            <div style="display: inline-block; color: #0088CF;">{{RequestData.StatusName}}</div>
                        </ion-label>

                        <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status==2">
                            <div style="width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            display: inline-block;
                            background: #000;
                            background-color: #7DBC42;
                            transform: translate(-8px, 2px)"></div>
                            <div style="display: inline-block; color: #7DBC42;">{{RequestData.StatusName}}</div>
                        </ion-label>

                        <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status == 3">
                            <div style="width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            display: inline-block;
                            background: #000;
                            background-color: #FF3939;
                            transform: translate(-8px, 2px)"></div>
                            <div style="display: inline-block; color: #FF3939;">{{RequestData.StatusName}}</div>
                        </ion-label>

                        <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status==5">
                            <div style="width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            display: inline-block;
                            background: #000;
                            background-color: #FEA747;
                            transform: translate(-8px, 2px)"></div>
                            <div style="display: inline-block; color: #FEA747;">{{RequestData.StatusName}}</div>
                        </ion-label>


                        <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status==6">
                            <div style="width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            display: inline-block;
                            background: #000;
                            background-color: #F3721C;
                            transform: translate(-8px, 2px)"></div>
                            <div style="display: inline-block; color: #F3721C;">{{RequestData.StatusName}}</div>
                        </ion-label>

                        <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status!=6 && RequestData.Status!=5 && RequestData.Status!=3 && RequestData.Status!=2  && RequestData.Status!=1">
                            <div style="width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            display: inline-block;
                            background: #000;
                            background-color: #DFDFDF;
                            transform: translate(-8px, 2px)"></div>
                            <div style="display: inline-block; color: #DFDFDF;">{{RequestData.StatusName}}</div>
                        </ion-label>
                    </ng-container>
                </ion-item>
                <ion-item class="twoColumn">
                    <ng-container>
                        <ion-label class="list-left">{{'LATEEARLY.KindName' | translate}}</ion-label>
                        <ion-label slot="end" class="label-list-end">
                            {{RequestData['KindName']}}
                        </ion-label>
                    </ng-container>
                </ion-item>
                <ion-item class="twoColumn">
                    <ng-container>
                        <ion-label class="list-left">{{'LATEEARLY.BegDate' | translate}}</ion-label>
                        <ion-label slot="end" class="label-list-end">
                            {{RequestData['BegDateView']}}
                        </ion-label>
                    </ng-container>
                </ion-item>
                <ion-item class="twoColumn" *ngIf="RequestData?.Kind == 1">
                  <ng-container>
                      <ion-label class="list-left">{{'LATEEARLY.EndDate' | translate}}</ion-label>
                      <ion-label slot="end" class="label-list-end">
                          {{RequestData['EndDateView']}}
                      </ion-label>
                  </ng-container>
              </ion-item>
              <ion-item class="twoColumn">
                <ng-container>
                    <ion-label class="list-left">{{'LATEEARLY.ShiftName' | translate}}</ion-label>
                    <ion-label slot="end" class="label-list-end">
                        {{RequestData['ShiftName']}}
                    </ion-label>
                </ng-container>
            </ion-item>
            </ion-list>
        </div>
        <ion-item class="profile-title" *ngIf="RequestData?.IsRegDTVSFromTo == false">
            <ion-label>{{'LATEEARLY.TimeRoot' | translate}}</ion-label>
        </ion-item>
        <div class="ion-padding" *ngIf="RequestData?.IsRegDTVSFromTo == false">
            <ion-list>
                <ion-item class="twoColumn" *ngIf="IsVisibleRoot1">
                  <ion-label style="display: flex;justify-content: space-between;" class="list-left">
                    <div>{{'LATEEARLY.In1' | translate}}</div>
                    <div style="font-weight: bold;">{{RequestData?.RootLateIn1}}</div>
                </ion-label>
                <ion-label style="display: flex;justify-content: space-between;font-weight: normal;text-align:initial;" slot="end" class="label-list-end">
                    <div>{{'LATEEARLY.Out1' | translate}}</div>
                    <div style="font-weight: bold;">{{RequestData?.RootEarly1}}</div>
                </ion-label>
                </ion-item>

                <ion-item class="twoColumn" *ngIf="IsVisibleRoot2">
                  <ion-label style="display: flex;justify-content: space-between;" class="list-left">
                    <div>{{'LATEEARLY.In2' | translate}}</div>
                    <div style="font-weight: bold;"> {{RequestData?.RootLateIn2}}</div>
                  </ion-label>
                  <ion-label style="display: flex;justify-content: space-between;font-weight: normal;text-align:initial;" slot="end" class="label-list-end">
                      <div>{{'LATEEARLY.Out2' | translate}}</div>
                      <div style="font-weight: bold;">{{RequestData?.RootEarly2}}</div>
                  </ion-label>
                </ion-item>


            </ion-list>
        </div>

        <ion-item class="profile-title" *ngIf="RequestData?.IsRegDTVSFromTo == true">
          <ion-label>{{'LATEEARLY.TimeNew' | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding">
          <ion-list>
              <ion-item class="twoColumn">
                <ion-label style="display: flex;justify-content: space-between;" class="list-left">
                  <div>{{'LATEEARLY.In' | translate}}</div>
                  <div style="font-weight: bold;">{{RequestData?.DTFrom}}-{{RequestData?.DTTo}}</div>
              </ion-label>
              <ion-label style="display: flex;justify-content: space-between;font-weight: normal;text-align:initial;" slot="end" class="label-list-end">
                <div>{{'LATEEARLY.Out' | translate}}</div>
                <div style="font-weight: bold;">{{RequestData?.VSFrom}}-{{RequestData?.VSTo}}</div>
              </ion-label>
                <!-- <ng-container>
                    <ion-label  class="list-left">{{'LATEEARLY.In' | translate}} <span style="font-weight: bold;">{{RequestData?.DTFrom}}-{{RequestData?.DTTo}}</span></ion-label>
                    <ion-label slot="end" class="label-list-end">{{'LATEEARLY.Out' | translate}} <span style="font-weight: bold;">{{RequestData?.VSFrom}}-{{RequestData?.VSTo}}</span></ion-label>
                </ng-container> -->
              </ion-item>

              <ion-item class="twoColumn" *ngIf="IsVisibleNew1">
                <ion-label style="display: flex;justify-content: space-between;" class="list-left">
                  <div>{{'LATEEARLY.In1' | translate}}</div>
                  <div style="font-weight: bold;">{{RequestData?.LateIn}}</div>
              </ion-label>
              <ion-label style="display: flex;justify-content: space-between;font-weight: normal;text-align:initial;" slot="end" class="label-list-end">
                  <div>{{'LATEEARLY.Out1' | translate}}</div>
                  <div style="font-weight: bold;">{{RequestData?.EarlyOut}}</div>
              </ion-label>
              </ion-item>

              <ion-item class="twoColumn" *ngIf="IsVisibleNew2">
                <ion-label style="display: flex;justify-content: space-between;" class="list-left">
                  <div>{{'LATEEARLY.In2' | translate}}</div>
                  <div style="font-weight: bold;">{{RequestData?.LateInMid}}</div>
              </ion-label>
              <ion-label style="display: flex;justify-content: space-between;font-weight: normal;text-align:initial;" slot="end" class="label-list-end">
                  <div>{{'LATEEARLY.Out2' | translate}}</div>
                  <div style="font-weight: bold;">{{RequestData?.EarlyOutMid}}</div>
              </ion-label>
              </ion-item>
          </ion-list>
      </div>
      <ion-item class="twoColumn">
        <ng-container>
            <ion-label class="list-left">{{'LATEEARLY.Reason' | translate}}</ion-label>
            <ion-label slot="end" class="label-list-end">
                {{RequestData['Note']}}
            </ion-label>
        </ng-container>
        </ion-item>

      <ion-item class="twoColumn" *ngIf="RequestData?.Status == 5 && true == RequestData?.IsRequireWhenCancel">
        <ng-container>
            <ion-label class="list-left">{{'LATEEARLY.ReasonDestroy' | translate}}</ion-label>
            <ion-label slot="end" class="label-list-end">
                {{RequestData['ReasonDetroy']}}
            </ion-label>
        </ng-container>
    </ion-item>

    <ion-item class="twoColumn">
      <ng-container>
          <ion-label class="list-left">{{'LATEEARLY.ApproveNote' | translate}}</ion-label>
          <ion-label slot="end" class="label-list-end">
              {{RequestData['ApproveNote']}}
          </ion-label>
      </ng-container>
    </ion-item>

    <ion-item class="footer-checkinout">   <ion-button *ngIf="IsActivePleaseCancel" id ="btnReject"
        class="btnReject btnRejectText" type="submit" expand="block" (click)="handleOnPleaseReject()">
      {{"LEAVE_REQUEST.PleaseCancel" | translate}}
  </ion-button></ion-item>


</ion-content>
<ng-template #templateLeft let-item>
  <div class="container-item-left">
      <div class="ApproveDate">{{item.ApprovalDate}}</div>
      <div><span [class]="'dayContent '+ 'dayContent'+item.ApprovalStatus">{{item.ApprovalStatusName}}</span></div>
  </div>
</ng-template>
<ng-template #templateRight let-item>
  <div style="display:flex;;width: 70%;">
      <ion-thumbnail slot="start" style="--border-radius: 50%;">
          <img [src]="commonHandler.ConvertPhotoUrl(item.PhotoID)" />
      </ion-thumbnail>
      <div class="container-item-right">
          <div class="FullName">{{item.EmployeeName}}</div>
          <div class="JobWname">{{item.JobWName}}</div>
          <div class="ApproveNote">
              {{item.ApprovalNote}}</div>
      </div>
  </div>
</ng-template>
