// .wrapper {
//     height: 50% !important;
// }
.header-wrapper {
    padding: 1rem;
    background: var(--ion-color-background-primary-title);
    color: var(--ion-color-primary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}