ion-item.profile-title {
    --background: #fafafa;
    --color: var(--ion-color-primary);
    font-size: 1.2rem;
    font-weight: 500;
    --padding-start: 10px;
}

.profile-title-first {
    margin-top: 6rem;
}

.profile-title-first.ios {
    margin-top: 7rem;
}

.card {
    --background: #fafafa;
    position: fixed;
    width: 100%;
    z-index: 111111;
}

.twoColumn {
    --padding-start: 0.8rem;
    --inner-padding-end: 0;
    border-bottom: 1px solid #ddd;
}

.group-header {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    line-height: 2rem;
    color: var(--text-primary);
}

.list-left {
    font-size: 0.9rem;
    color: var(--text-primary);
    flex: 1;
    text-align: left;
    overflow-wrap: anywhere;
    white-space: normal;
}

.label-list-end {
    overflow-wrap: anywhere;
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
    color: var(--text-primary);
    overflow: initial;
    white-space: normal;
    font-weight: 700;
    margin-right: 0.8rem;
    text-transform: none;
}

.groupContentValueCircle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    background: #000;
    background-color: #0088CF;
    transform: translate(-8px, 2px)
}

.groupContentValueCircle1 {
    background-color: #0088CF;
}

.groupContentValueCircle2 {
    background-color: #7DBC42
}

.groupContentValueCircle3 {
    background-color: #FF3939
}

.groupContentValueCircle5 {
    background-color: #FEA747
}

.groupContentValueCircle6 {
    background-color: #F3721C
}

.groupContentValueDetail1 {
    color: #0088CF;
}

.groupContentValueDetail2 {
    color: #7DBC42
}

.groupContentValueDetail3 {
    color: #FF3939
}

.groupContentValueDetail5 {
    color: #FEA747
}

.groupContentValueDetail6 {
    color: #F3721C
}

.footer-checkinout {
    width: 100%;
    position: sticky;
    bottom: 0rem;
    z-index: 9999;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.footer-checkinout ion-button {
    flex: 1;
    --border-radius: 4px;
    --box-shadow: 0;
    min-height: 2.6rem;
    margin: 0.4rem 0.6rem 0rem 0.6rem;font-size: 1rem;
}

.btnReject {
    color: #fff;
    --background: #FF3939;
}

.btnApproved {
    color: #fff;
    --background: #7DBC42;
}

ion-card-subtitle.ios {
    font-weight: 500;
    margin: 0.6rem 0;
    text-transform: none;
    font-size: 0.9rem;
}

ion-card-subtitle span.ios {
    font-weight: 500;
    margin: 0.6rem 0;
    text-transform: none;
    font-size: 0.9rem;
}
.dayContent {
  font-size: 0.6rem;
  width: 75%;
  display: block;
  text-align: center;
  color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 16px;
}

.dayContent0 {
  background-color: #0088CF;
}

.dayContent1 {
  background-color: #FF3939
}

.dayContent2 {
  background-color: #7DBC42;
}

.container-item-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0.4rem;
}

.ApproveDate {
  font-size: 0.65rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.container-item-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0.6rem;
  line-height: 1.4rem;
}

.JobWname {
    font-size: 0.75rem;
    color: var(--ion-color-primary);
    font-weight: 600;
    text-transform: capitalize;
}

.FullName {
    color: var(--ion-color-primary);
    font-weight: 600;
}

.ApproveNote {
    font-size: 0.7rem;
    color: var(--text-primary);
    opacity: 0.8;
}

@media only screen and (min-device-width: 720px) {
    .ApproveDate {
        font-size: 1rem !important;
        margin-left: 1rem;
    }
    .JobWname {
        font-size: 1rem!important;
    }
    .FullName {
        font-size: 1.2rem!important;
    }
    .ApproveNote {
        font-size: 0.9rem!important;
    }
}
