<app-standard-header [title]="itemFunction.title" [icon]="'arrow-back-outline'" [href]="'OTRequest'">
    <span id="HistoryAppoveLevel" slot="end" style="margin-right: 1rem;font-size: 1.6rem;color: #fff;" class="sap-icon sap-customer-history"></span>
</app-standard-header>
<ion-content>
    <timeline idOpen="HistoryAppoveLevel" [title]="'COMMON.HistoryApproveLevel' | translate" [templateLeft]="templateLeft" [templateRight]="templateRight" [RecordID]="RequestData.RecordID" [ProcessID]="2"></timeline>
    <div class="ion-padding">
        <ion-item class="profile-title">
            <ion-label>{{'OT_REQUEST.Infomation' | translate}}</ion-label>
        </ion-item>
        <ion-item class="twoColumn">
            <ng-container>
                <ion-label class="list-left">{{'OT_REQUEST.Status' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status === 1">
                    <div style="width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        display: inline-block;
                        background: #000;
                        background-color: #0088CF;
                        transform: translate(-8px, 2px)"></div>
                    <div style="display: inline-block; color: #0088CF;">{{'OT_REQUEST.Pending' | translate}}</div>
                </ion-label>

                <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status===2">
                    <div style="width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        display: inline-block;
                        background: #000;
                        background-color: #7DBC42;
                        transform: translate(-8px, 2px)"></div>
                    <div style="display: inline-block; color: #7DBC42;">{{RequestData.StatusName}}</div>
                </ion-label>

                <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status === 3">
                    <div style="width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        display: inline-block;
                        background: #000;
                        background-color: #FF3939;
                        transform: translate(-8px, 2px)"></div>
                    <div style="display: inline-block; color: #FF3939;">{{RequestData.StatusName}}</div>
                </ion-label>

                <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status===5">
                    <div style="width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        display: inline-block;
                        background: #000;
                        background-color: #FEA747;
                        transform: translate(-8px, 2px)"></div>
                    <div style="display: inline-block; color: #FEA747;">{{RequestData.StatusName}}</div>
                </ion-label>


                <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status===6">
                    <div style="width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        display: inline-block;
                        background: #000;
                        background-color: #F3721C;
                        transform: translate(-8px, 2px)"></div>
                    <div style="display: inline-block; color: #F3721C;">{{RequestData.StatusName}}</div>
                </ion-label>

                <ion-label slot="end" class="label-list-end" *ngIf="RequestData.Status!==6 && RequestData.Status!==5 && RequestData.Status!==3 && RequestData.Status!==2  && RequestData.Status!==1">
                    <div style="width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        display: inline-block;
                        background: #000;
                        background-color: #DFDFDF;
                        transform: translate(-8px, 2px)"></div>
                    <div style="display: inline-block; color: #DFDFDF;">{{RequestData.StatusName}}</div>
                </ion-label>
            </ng-container>
        </ion-item>
        <ion-item class="twoColumn">
            <ng-container>
                <ion-label class="list-left">{{'OT_REQUEST.RequestDate' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{formatHandler.formatDate(RequestData?.CreateDateView,user)}}
                </ion-label>
            </ng-container>
        </ion-item>
        <ion-item class="twoColumn">
            <ng-container>
                <ion-label class="list-left">{{'OT_REQUEST.Reason' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{RequestData?.Reason}}
                </ion-label>
            </ng-container>
        </ion-item>
        <ion-item class="twoColumn" *ngIf="RequestData?.Status === 5 && RequestData?.IsRequireWhenCancel">
            <ng-container>
                <ion-label class="list-left">{{'OT_REQUEST.ReasonDestroy' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{RequestData.ReasonDetroy}}
                </ion-label>
            </ng-container>
        </ion-item>
        <ion-item class="profile-title">
            <ion-label>{{'OT_REQUEST.OTDetail' | translate}}</ion-label>
        </ion-item>
        <ion-item class="twoColumn">
            <ng-container>
                <ion-label class="list-left">{{'OT_REQUEST.KowCode' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{RequestData?.KowName}}
                </ion-label>
            </ng-container>
        </ion-item>

        <ion-item class="twoColumn">
            <ng-container>
                <ion-label class="list-left">{{'COMMON.FromDate' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{formatHandler.formatDate(RequestData?.BegDate,user)}}
                </ion-label>
            </ng-container>
        </ion-item>
        <ion-item class="twoColumn" *ngIf="ObjConfig.IsFieldVisibleToDate">
            <ng-container>
                <ion-label class="list-left">{{'COMMON.ToDate' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{formatHandler.formatDate(RequestData?.EndDate,user)}}
                </ion-label>
            </ng-container>
        </ion-item>
        <ng-container *ngIf="RequestData && (RequestData?.FromTime || RequestData?.ToTime)">
            <ion-item class="twoColumn">
                <ng-container>
                    <ion-label class="list-left">{{'COMMON.FromTime' | translate}}</ion-label>
                    <ion-label slot="end" class="label-list-end">
                        {{RequestData?.FromTime}}
                    </ion-label>
                </ng-container>
            </ion-item>
            <ion-item class="twoColumn">
                <ng-container>
                    <ion-label class="list-left">{{'COMMON.ToTime' | translate}}</ion-label>
                    <ion-label slot="end" class="label-list-end">
                        {{RequestData?.ToTime}}
                    </ion-label>
                </ng-container>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="!RequestData?.FromTime && !RequestData?.ToTime">
            <ion-item class="twoColumn">
                <ng-container>
                    <ion-label class="list-left">{{'OT_REQUEST.HourNum' | translate}}</ion-label>
                    <ion-label slot="end" class="label-list-end">
                        {{commonHandler.convertHour(RequestData?.HourNum)}}
                    </ion-label>
                </ng-container>
            </ion-item>
        </ng-container>



        <ion-item class="twoColumn">
            <ng-container>
                <ion-label class="list-left" style="opacity: 1;">{{'OT_REQUEST.IsPay' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end" style="flex:0">
                    <ion-checkbox mode="md" style="float:right;opacity:1;" [checked]="RequestData?.IsPay" disabled="true"></ion-checkbox>
                </ion-label>
            </ng-container>
        </ion-item>

        <ion-item class="twoColumn" *ngIf="RequestData && RequestData?.PayValueName">
            <ng-container>
                <ion-label class="list-left">{{'OT_REQUEST.PayValue' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{RequestData.PayValueName}}
                </ion-label>
            </ng-container>
        </ion-item>

        <ion-item class="twoColumn" *ngIf="1==1">
            <ng-container>
                <ion-label class="list-left">{{LabelHinhThuc}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{RequestData['TypeCalOTAlloRegisName']}}
                </ion-label>
            </ng-container>
        </ion-item>


        <ion-item class="twoColumn">
            <ng-container>
                <ion-label class="list-left">{{LabelLoaiKeHoach}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{RequestData['OutOfPlanName']}}
                </ion-label>
            </ng-container>
        </ion-item>
        <ion-item class="twoColumn" *ngIf="RequestData?.FileID" id="open-modal4">
            <ion-label class="list-left">{{'BUSINESS_TRIP.Attachment' | translate}}
                <ion-icon name="attach-outline" style="font-size: 1.6rem;
                  position: absolute;
                  bottom: 0.6rem;"></ion-icon>
                   <app-modal-attach-multi [lines]="true" [title]="'BUSINESS_TRIP.Attachment'|translate"
                   [IsCreate]="false"
                   idOpen="open-modal4" [arraySearch]="['FileSize','FileName']" [template]="itemTemplateFile"
                   [datas]="[]"
                   [paramfile] = "paramfile"
                   [textLeft]="'BUSINESS_TRIP.Attachment' | translate">
           </app-modal-attach-multi>
            </ion-label>

        </ion-item>

        <ion-item class="twoColumn" *ngIf="RequestData">
            <ng-container>
                <ion-label class="list-left">{{'OT_REQUEST.ApproveNote' | translate}}</ion-label>
                <ion-label slot="end" class="label-list-end">
                    {{RequestData?.ApproveNote}}
                </ion-label>
            </ng-container>
        </ion-item>
    </div>
    <ion-item class="footer-checkinout">
        <ion-button *ngIf="IsActivePleaseCancel" class="btnReject" type="submit" expand="block" (click)="handleOnPleaseReject()">
            {{"BUSINESS_TRIP.PleaseCancel" | translate}}
        </ion-button>
    </ion-item>
</ion-content>



<ng-template #cbxKowCode let-item>
    {{item.KowName}}
</ng-template>
<ng-template #cbxPayValue let-item>
    {{item.PayValueName}}
</ng-template>

<ng-template #itemTemplateFile let-item>
    {{item.FileName}}
  </ng-template>

<ng-template #templateLeft let-item>
    <div class="container-item-left">
        <div class="ApproveDate">{{item.ApprovalDate}}</div>
        <div><span [class]="'dayContent '+ 'dayContent'+item.ApprovalStatus">{{item.ApprovalStatusName}}</span></div>
    </div>
</ng-template>
<ng-template #templateRight let-item>
    <div style="display:flex;;width: 70%;">
        <ion-thumbnail slot="start" style="--border-radius: 50%;">
            <img [src]="commonHandler.ConvertPhotoUrl(item.PhotoID)" />
        </ion-thumbnail>
        <div class="container-item-right">
            <div class="FullName">{{item.EmployeeName}}</div>
            <div class="JobWname">{{item.JobWName}}</div>
            <div class="ApproveNote">
                {{item.ApprovalNote}}</div>
        </div>
    </div>
</ng-template>
