/* For Tablet View */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .img {
        height: 40rem !important;
    }
}


/* For Mobile Portrait View */

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .img {
        height: 20rem !important;
    }
}


/* For Mobile Landscape View */

@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .img {
        height: 20rem !important;
    }
}


/* For Mobile Phones Portrait or Landscape View */

@media screen and (max-device-width: 640px) {
    .img {
        height: 20rem !important;
    }
}


/* For iPhone 5 Portrait or Landscape View */

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .img {
        height: 20rem !important;
    }
}


/* For iPhone 6 and 6 plus Portrait or Landscape View */

@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    .img {
        height: 20rem !important;
    }
}

.navbar h3 {
    color: #f5f5f5;
    margin-top: 14px;
}

.hljs-pre {
    background: #f8f8f8;
    padding: 3px;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding: 40px 0;
}

.input-group {
    width: 110px;
    margin-bottom: 10px;
}

.pull-center {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 767px) {
    .pull-center {
        float: right;
    }
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.fa {
    position: relative;
    top: 5px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-container {
    margin-top: 100px;
}
