ion-back-button {
    --color: var(--text-primary-contrast);
}

.icon-search {
    z-index: 99;
    position: absolute;
    right: 0;
    padding: 1.2rem 1.1rem;
    font-size: 1.2rem;
    color: var(--text-primary);
}

ion-item {
    --border-style: none;
    --inner-padding-end: 0.2rem;
    --padding-start: 0.6rem;
}

.leaveheader {
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    padding: 10px;
}

.headerTitle {
    font-size: 1rem;
    color: var(--ion-color-primary);
}

.headerValue {
    font-weight: bold;
}

ion-input {
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
    margin: 1rem
}

ion-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 1rem;
    -webkit-line-clamp: 2;
    white-space: pre-line;
    -webkit-box-orient: vertical;
    font-weight: 500;
}

ion-thumbnail {
    margin: 0;
}

.list-left {
    font-size: 0.9rem;
    color: var(--text-primary);
    flex: 1;
    text-align: left;
    overflow-wrap: anywhere;
    white-space: normal;
}

.modal-input {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --min-height: 0;
    //width: 100%;
}

.label-list-end {
    overflow-wrap: anywhere;
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
    color: var(--text-primary);
    overflow: initial;
    white-space: normal;
    font-weight: 600;
}

.ion-padding {
    padding: 0;
}

.twoColumn {
    min-height: 50px;
    --padding-start: 0.6rem;
    border-bottom: 1px solid #ddd;
    --inner-padding-end: 0;
}

.label-list-end.normal {
    flex: 1;
    font-weight: 500;
    color: var(--text-primary);
    overflow: initial;
    white-space: normal;
}

ion-item.profile-title {
    --background: var(--ion-color-background-create-title);
    --color: var(--ion-color-background-create-label) !important;
    font-size: 0.8rem;
    border-radius: 6px;
    text-transform: uppercase;
    z-index: 0;
}

.Infomation {
    text-transform: uppercase;
}

.value-list-paystub {
    --padding-start: 0
}

.profile-title ion-label {
    font-size: 0.95rem !important;
    text-transform: uppercase;
}

ion-accordion {
    margin-bottom: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px -2px, rgb(0 0 0 / 0%) 0px 0px 0px 1px
}

ion-list .twoColumn:last-child {
    border: none;
}

.label-list-end.md {
    padding-right: 0.4rem;
}

ion-list {
    padding: 0 !important;
}

ion-accordion-group {
    margin: 0.6rem;
}

.btnRejectText {
    font-size: 1rem;
    color: #FFFFFF
}

.btnReject {
    border-radius: 5;
    justify-content: 'center';
    align-items: 'center';
    min-height: 2.6rem;
    --background: #FF3939;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

ion-input {
    width: 100%;
    font-size: 0.9rem;
    color: var(--ion-color-primary);
    font-weight: 600;
}

ion-icon {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

ion-icon {
    color: var(--ion-color-primary);
}

.input-custom {
    width: 100%;
    font-size: 0.9rem;
    color: var(--ion-color-primary);
    font-weight: 600;
    border: 1px solid;
    margin: 1rem 1rem 0 1rem;
    border-radius: 4px;
    z-index: 2;
}

.footer-checkinout {
    width: 100%;
    position: fixed;
    bottom: 0;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.footer-checkinout ion-button {
    flex: 1;
    --border-radius: 0;
    --box-shadow: 0;
    min-height: 2.6rem;
    margin: 0.4rem 0.6rem 0.4rem 0.6rem;
    font-size: 1rem;
}

.DefaultFunction {
    width: 100%;
    margin-right: 0.4rem;
}
.in-out {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.in-out-end {
  font-weight: 700;
}
