<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647774519987-3f24jm4c6ipg5lea5od0kb085qcbt7uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647774519987-3f24jm4c6ipg5lea5od0kb085qcbt7uk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647774519987-2nijoq3od50rvsapdar1k6c9jk3q1546.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtjza2qu675cR8Qll3lVkbZJLfB8XT3x8</string>
	<key>GCM_SENDER_ID</key>
	<string>647774519987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surehcs.iaquahcmmobile</string>
	<key>PROJECT_ID</key>
	<string>signinaquahcm</string>
	<key>STORAGE_BUCKET</key>
	<string>signinaquahcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647774519987:ios:b5922981e1f898d9f8a6c6</string>
</dict>
</plist>