<app-standard-header [title]="itemFunction?.title" [icon]="'arrow-back-outline'" [href]="'LateEarlyRequest'">
</app-standard-header>
<ion-content>
    <div style="margin-bottom:4rem;">
        <ion-item class="profile-title">
            <ion-label>{{'LATEEARLY.Infomation' | translate}}</ion-label>
        </ion-item>
        <div class="ion-padding">
            <ion-list>
                <ion-item *ngIf="!IsPageTimeSheet">
                    <app-valuelist-modal class="DefaultFunction" [arraySearch]="['LeaveKows']" [template]="itemTemplate" [datas]="LeaveKows" [inputText]="LeaveKowsSelected['KowName']" [textLeft]="'LATEEARLY.TypeEarly' | translate" (selectedItem)="eventSelectedKow($event)">
                    </app-valuelist-modal>
                </ion-item>
                <ion-item *ngIf="!IsPageTimeSheet">
                    <app-datetime-modal class="DefaultFunction" [textLeft]="'LATEEARLY.BegDate' | translate" iddatetime="datetimea" iddatetimetrigger="datetimea1" (selectedItem)="eventSelectedatetime($event)">
                    </app-datetime-modal>
                </ion-item>

                <ion-item class="twoColumn" *ngIf="IsPageTimeSheet">
                    <ng-container>
                        <ion-label class="list-left">{{'LATEEARLY.TypeEarly' | translate}}</ion-label>
                        <ion-label slot="end" class="label-list-end" style="width: 100%;margin-right:0.5rem; font-weight: bold;">
                            {{this.LeaveKowsSelected['KowName']}}
                        </ion-label>
                    </ng-container>
                </ion-item>

                <ion-item class="twoColumn" *ngIf="IsPageTimeSheet">
                    <ng-container>
                        <ion-label class="list-left">{{'LATEEARLY.BegDate' | translate}}</ion-label>
                        <ion-label slot="end" class="label-list-end" style="width: 100%;margin-right:0.5rem; font-weight: bold;">
                            {{BegDate | date: FormatDateViewUI}}
                        </ion-label>
                    </ng-container>
                </ion-item>
                <ion-item *ngIf="LeaveKowsSelected['KowCode'] == '1'">
                    <app-datetime-modal class="DefaultFunction" [textLeft]="'LATEEARLY.EndDate' | translate" iddatetime="datetimeb" iddatetimetrigger="datetimeab" (selectedItem)="eventSelectetodatetime($event)">
                    </app-datetime-modal>
                </ion-item>
            </ion-list>
        </div>


        <ion-item class="profile-title" *ngIf="Model['IsRegDTVSFromTo'] == false">
            <ion-label>{{'LATEEARLY.TimeRoot' | translate}}</ion-label>
        </ion-item>
        <div class="ion-padding" *ngIf="Model['IsRegDTVSFromTo'] == false">
            <ion-list>
                <ion-item class="twoColumn">
                    <ng-container>
                        <ion-label class="list-left" style="font-weight: bold;">
                            {{'LATEEARLY.In' | translate}} {{Model['RootLateIn1']}}</ion-label>
                        <ion-label slot="end" class="label-list-end" style="font-weight: bold;">
                            {{'LATEEARLY.Out' | translate}} {{Model['RootEarly1']}}</ion-label>
                    </ng-container>
                </ion-item>

                <ion-item class="twoColumn" *ngIf="IsVisibleRoot1 == true ">
                    <ng-container>
                        <ion-label class="list-left" style="font-weight: bold;">
                            {{'LATEEARLY.In1' | translate}} {{Model['RootLateIn1']}}</ion-label>
                        <ion-label slot="end" class="label-list-end" style="font-weight: bold;">
                            {{'LATEEARLY.Out1' | translate}} {{Model['RootLateIn2']}}</ion-label>
                    </ng-container>
                </ion-item>

                <ion-item class="twoColumn" *ngIf="IsVisibleRoot2 == true">
                    <ng-container>
                        <ion-label class="list-left" style="font-weight: bold;">
                            {{'LATEEARLY.In2' | translate}} {{Model['RootLateIn1']}}</ion-label>
                        <ion-label slot="end" class="label-list-end" style="font-weight: bold;">
                            {{'LATEEARLY.Out2' | translate}} {{Model['RootEarly2']}}</ion-label>
                    </ng-container>
                </ion-item>
            </ion-list>
        </div>


        <ion-item class="profile-title">
            <ion-label>{{'LATEEARLY.TimeNew' | translate}}</ion-label>
        </ion-item>
        <div class="ion-padding">
            <ion-list>
                <div *ngIf="Model['IsRegDTVSFromTo'] == true">
                    <ion-item>
                        <ion-label>{{'LATEEARLY.In' | translate}}</ion-label>
                    </ion-item>

                    <ion-item style="margin-top: 1rem;">
                        <app-time-modal class="DefaultFunction" [textLeft]="'COMMON.FromTime' | translate" idtime="SelectedFromTimeDT" idTimeShow="SelectedFromTimeDT1" [myTime]="FromTimeDT" (selectedItem)="eventSelectefromtimeDT($event)">
                        </app-time-modal>
                    </ion-item>
                    <ion-item style="margin-top: 1rem;">
                        <app-time-modal style="width: 100%;margin-right:0.28rem;" [textLeft]="'COMMON.ToTime' | translate" idtime="SelectedToTimeDT" idTimeShow="SelectedToTimeDT1" [myTime]="ToTimeDT" (selectedItem)="eventSelectetotimeDT($event)">
                        </app-time-modal>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{'LATEEARLY.Out' | translate}}</ion-label>
                    </ion-item>

                    <ion-item style="margin-top: 1rem;">
                        <app-time-modal class="DefaultFunction" [textLeft]="'COMMON.FromTime' | translate" idtime="SelectedFromTimeVS" idTimeShow="SelectedFromTimeVS1" [myTime]="FromTimeVS" (selectedItem)="eventSelectefromtimeVS($event)">
                        </app-time-modal>
                    </ion-item>
                    <ion-item style="margin-top: 1rem;">
                        <app-time-modal style="width: 100%;margin-right:0.28rem;" [textLeft]="'COMMON.ToTime' | translate" idtime="SelectedToTimeVS" idTimeShow="SelectedToTimeVS1" [myTime]="ToTimeVS" (selectedItem)="eventSelectetotimeVS($event)">
                        </app-time-modal>
                    </ion-item>
                </div>

                <div *ngIf="!Model['IsRegDTVSFromTo'] && IsVisibleNew1 == true">
                    <ion-item class="twoColumn">
                        <ng-container>
                            <ion-label class="list-left" style="font-weight: bold;" *ngIf="!(Model['RootLateIn1'] != null || LeaveKowsSelected?.KowCode != '0')">
                                {{'LATEEARLY.In1' | translate}}</ion-label>
                            <ion-input *ngIf="(Model['RootLateIn1'] != null || LeaveKowsSelected?.KowCode != '0')" slot="end" class="label-list-end" [(ngModel)]="Model['LateIn']"
                             type="number" placeholder=" {{'LATEEARLY.In1' | translate}} " style="font-weight: bold;"></ion-input>


                            <ion-text slot="end" class="label-list-end" style="font-weight: bold;" *ngIf="!(Model['RootLateIn1'] != null || LeaveKowsSelected?.KowCode != '0')">
                                {{Model['LateIn']}}</ion-text>
                        </ng-container>
                    </ion-item>
                    <ion-item class="twoColumn">
                        <ng-container>
                            <ion-label class="list-left" style="font-weight: bold;" *ngIf="!(Model['RootEarly1'] != null || LeaveKowsSelected?.KowCode != '0')">
                                {{'LATEEARLY.Out1' | translate}}</ion-label>
                            <ion-input *ngIf="(Model['RootEarly1'] != null || LeaveKowsSelected?.KowCode != '0')" slot="end" class="label-list-end" [(ngModel)]="Model['EarlyOut']" type="number" placeholder=" {{'LATEEARLY.Out1' | translate}} " style="font-weight: bold;"></ion-input>


                            <ion-text slot="end" class="label-list-end" style="font-weight: bold;" *ngIf="!(Model['RootEarly1'] != null || LeaveKowsSelected?.KowCode != '0')">
                                {{Model['EarlyOut']}}</ion-text>
                        </ng-container>
                    </ion-item>
                </div>
                <div *ngIf="!Model['IsRegDTVSFromTo'] && IsVisibleNew2 == true">
                    <ion-item class="twoColumn">
                        <ng-container>
                            <ion-label class="list-left" style="font-weight: bold;" *ngIf="Model['RootLateIn2'] == null">
                                {{'LATEEARLY.In2' | translate}}</ion-label>
                            <ion-input *ngIf="(Model['RootLateIn2'] != null)" slot="end" class="label-list-end" [(ngModel)]="Model['LateInMid']" type="number" placeholder=" {{'LATEEARLY.In2' | translate}} " style="font-weight: bold;"></ion-input>


                            <ion-text slot="end" class="label-list-end" style="font-weight: bold;" *ngIf="Model['RootLateIn2'] == null">
                                {{Model['LateInMid']}}</ion-text>
                        </ng-container>
                    </ion-item>
                    <ion-item class="twoColumn">
                        <ng-container>
                            <ion-label class="list-left" style="font-weight: bold;" *ngIf="Model['RootEarly2'] == null">
                                {{'LATEEARLY.Out2' | translate}}</ion-label>
                            <ion-input *ngIf="Model['RootEarly2'] != null" slot="end" class="label-list-end" [(ngModel)]="Model['EarlyOutMid']" type="number" placeholder=" {{'LATEEARLY.Out2' | translate}} " style="font-weight: bold;"></ion-input>


                            <ion-text slot="end" class="label-list-end" style="font-weight: bold;" *ngIf="(Model['RootEarly2'] == null)">
                                {{Model['EarlyOutMid']}}</ion-text>
                        </ng-container>
                    </ion-item>
                </div>


                <ion-item>
                    <ion-label class="list-left">{{'LATEEARLY.Reason' | translate}}</ion-label>
                </ion-item>

                <ion-item class="list-left" style="padding-right: 10px;">
                    <ion-textarea class="list-left" style="padding: 1rem;
                            margin-bottom: 1rem;
                            border: 1px solid var(--ion-color-primary);
                            border-radius: 4px;" [(ngModel)]="Model['Note']" rows="4" placeholder="{{'LATEEARLY.WriteDownReason' | translate}}"></ion-textarea>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ion-item class="footer-checkinout">
        <ion-button style="--background:#e0e0e0;--color:#666" (click)="doPop()">
            {{"COMMON.Cancel" | translate}}
        </ion-button>
        <ion-button id='btnsubmit' (click)="doSubmit()">
            {{"COMMON.Submit" | translate}}
        </ion-button>
    </ion-item>
</ion-content>
<ng-template #itemTemplate let-item>
    {{item.KowName}}
</ng-template>
<ng-template #itemTemplate2 let-item>
    {{item.Caption}}
</ng-template>
<ng-template #itemTemplate3 let-item>
    {{item.Caption}}
</ng-template>
<ng-template #itemTemplate4 let-item>
    <div style="flex: 1;
    border-bottom: 1px solid #ddd;
    padding: 1rem;">
        <div style="margin-bottom: 0.6rem;">{{item.FullName}}</div>
        <div> {{item.EmployeeCode}}</div>
    </div>
</ng-template>
