<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738031515555-629tfreffna2voogio1i8h9ekjc2ra6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738031515555-629tfreffna2voogio1i8h9ekjc2ra6n</string>
	<key>API_KEY</key>
	<string>AIzaSyB7fzY0BPulNkXWwFr-JND0j7M7jkl1pdg</string>
	<key>GCM_SENDER_ID</key>
	<string>738031515555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surehcs.ivsamobile</string>
	<key>PROJECT_ID</key>
	<string>signinvsa</string>
	<key>STORAGE_BUCKET</key>
	<string>signinvsa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738031515555:ios:f2abaa8e141442cd618c16</string>
</dict>
</plist>