<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489532357737-2t3v7jenq98psd8nksbpo1j5tph9rgte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489532357737-2t3v7jenq98psd8nksbpo1j5tph9rgte</string>
	<key>API_KEY</key>
	<string>AIzaSyAV8pJbXFqLpV2C01JeE7lLAATgx63w1eM</string>
	<key>GCM_SENDER_ID</key>
	<string>489532357737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surehcs.ialliedmobile</string>
	<key>PROJECT_ID</key>
	<string>signinallied</string>
	<key>STORAGE_BUCKET</key>
	<string>signinallied.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489532357737:ios:3442eb68723f13d9e476f8</string>
</dict>
</plist>