ion-back-button {
    --color: var(--text-primary-contrast);
}

.icon-search {
    z-index: 99;
    position: absolute;
    right: 0;
    padding: 1.2rem 1.1rem;
    font-size: 1.2rem;
    color: var(--text-primary);
}

ion-item {
    --border-style: none;
    --inner-padding-end: 8px;
}

.headerValue {
    font-weight: bold;
    margin-right: 0.4rem;
    text-transform: lowercase;
}

ion-input {
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    // --placeholder-color: #ddd;
    // --placeholder-opacity: .8;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
    margin: 1rem
}

ion-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 1rem;
    -webkit-line-clamp: 2;
    white-space: pre-line;
    -webkit-box-orient: vertical;
    font-weight: 500;
}

ion-thumbnail {
    margin: 0;
}

.list-left {
    color: var(--text-primary);
    flex: 1;
    text-align: left;
    overflow-wrap: anywhere;
    white-space: normal;
    font-size: inherit;
}

.modal-input {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --min-height: 0;
    //width: 100%;
}

.label-list-end {
    overflow-wrap: anywhere;
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
    color: var(--text-primary);
    overflow: initial;
    white-space: normal;
    font-weight: 600;
}

.ion-padding {
    padding: 0;
}

.twoColumn {
    --padding-start: 0.8rem;
    --inner-padding-end: 0;
}

.label-list-end.normal {
    flex: 1;
    font-weight: 500;
    color: var(--text-primary);
    overflow: initial;
    white-space: normal;
}

ion-item {
    --inner-padding-end: 4px;
    --padding-start: 10px;
    margin-bottom: 0.4rem;
}

ion-item.profile-title {
    --background: var(--ion-color-background-create-title);
    --color: var(--ion-color-background-create-label) !important;
    font-size: 0.8rem;
    text-transform: uppercase;
    z-index: 0;
}

.Infomation {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-primary);
}

.value-list-paystub {
    --padding-start: 0
}

.profile-title ion-label {
    font-size: 0.95rem !important;
    text-transform: uppercase;
}

ion-accordion {
    margin-bottom: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px -2px, rgb(0 0 0 / 0%) 0px 0px 0px 1px
}

ion-list .twoColumn:last-child {
    border: none;
}

.label-list-end.md {
    padding-right: 0.6rem;
}

ion-list {
    padding: 0 !important;
}

ion-accordion-group {
    margin: 0.6rem;
}

.btnRejectText {
    font-size: 1rem;
    color: #FFFFFF
}

.btnReject {
    border-radius: 5;
    justify-content: 'center';
    align-items: 'center';
    min-height: 2.6rem;
    --background: #FF3939;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

ion-input {
    width: 100%;
    font-size: 0.9rem;
    color: var(--ion-color-primary);
}

ion-icon {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

ion-icon {
    color: var(--ion-color-primary);
}

.input-custom {
    width: 100%;
    font-size: 0.9rem;
    color: var(--ion-color-primary);
    font-weight: 600;
    border: 1px solid;
    margin: 1rem 1rem 0 1rem;
    border-radius: 4px;
    z-index: 2;
}

.footer-checkinout {
    width: 100%;
    //position: fixed;
    bottom: -0.6rem;
    z-index: 9999;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.footer-checkinout ion-button {
    flex: 1;
    --border-radius: 0;
    --box-shadow: 0;
    min-height: 2.6rem;
    margin: 0.4rem 0.6rem 0.4rem 0.6rem;
    font-size: 1rem;
}

.twoColumn {
    --padding-start: 0.8rem;
    --inner-padding-end: 0;
}

.label-list-end {
    overflow-wrap: anywhere;
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
    color: var(--text-primary);
    overflow: initial;
    white-space: normal;
    font-weight: 700;
    margin-right: 0.8rem;
    text-transform: none;
}

.InputTag {
    margin-right: 0.5rem;
    margin-left: 0.0195rem;
}

.appValueListModel {
    width: 100%;
    margin-right: 0.4rem;
}

.MaginBottom {
    margin-bottom: 0.4rem
}

.ListLeftInput {
    width: 98.5%;
}

.inputSub {
    --padding-start: 0rem;
    color: #999
}

.IconDown {
    position: absolute;
    right: 1rem;
}

.IonLabel {
    width: 100%;
    margin-right: 0.8rem;
    padding: 0;
}

.LabelTitle {
    font-size: 0.7rem;
}

.DayNum {
    width: 100%;
    margin-right: 0.4rem;
    --padding-start: 1rem;
    --highlight-background: initial;
    color: var(--text-primary);
}

.placeholder {
    --padding-start: 10px !important;
    // --placeholder-color: black;
    // --placeholder-font-weight: bold;
}

.div-container-list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.4rem 0;
}

.InputTag>input {
    --padding-left: 0px !important;
    --margin-left: -5px!important;
    --padding-start: 0rem;
    color: black;
}