<ion-content>

    <ion-img src="../assets/images/default/login/banner_02.png"></ion-img>

    <form [formGroup]="form">
        <ion-item class="input-item" lines="full">
            <ion-icon name="lock-closed" item-left class="icon-lock"></ion-icon>
            <ion-input [type]="getTypeOld()" placeholder="{{'PASSWORD.OldPwd' | translate}}" formControlName="oldPass"></ion-input>
            <ion-icon [name]="iconEyeOld" item-right (click)="toggleTextPasswordOld()" class="icon-eye"></ion-icon>
        </ion-item>
        <ion-item class="input-item" lines="full">
            <ion-icon name="lock-closed" item-left class="icon-lock"></ion-icon>
            <ion-input [type]="getTypeNew()" placeholder="{{'PASSWORD.NewPwd' | translate}}" formControlName="newPass"></ion-input>
            <ion-icon [name]="iconEyeNew" item-right (click)="toggleTextPasswordNew()" class="icon-eye"></ion-icon>
        </ion-item>
        <ion-item class="input-item" lines="full">
            <ion-icon name="lock-closed" item-left class="icon-lock"></ion-icon>
            <ion-input [type]="getTypeConfirm()" placeholder="{{'PASSWORD.ConfimPwd' | translate}}" formControlName="confirmPass"></ion-input>
            <ion-icon [name]="iconEyeConfirm" item-right (click)="toggleTextPasswordConfirm()" class="icon-eye"></ion-icon>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button [disabled]="form.invalid" color="primary" type="submit" size="large" expand="block" class="ion-button" (click)="submit()"><span style="font-size: 0.9rem;">{{'PASSWORD.ButtonSubmit' | translate}}</span></ion-button>
                <ion-button color="primary" size="large" expand="block" (click)="back()" class="ion-button"><span style="font-size: 0.9rem;">{{'PASSWORD.ButtonCancel' | translate}}</span></ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-title text-left class="footer">{{"LOGIN.CopyRight" | translate}}</ion-title>
    </ion-toolbar>
</ion-footer>
